.submit-header {
    background: mistyrose;
    padding: 20px;
    font-size: 30px;
    font-family: 'Dancing Script';
    text-align: center;
    color: #E76A6B;
  }
  .Logo{
    width: 30%;
    margin-left: 35%;
}